body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    border: 2px dashed steelblue;
    width: 500px;
    height: 448px;
    margin: 5em auto;
}

.item{
    border-radius: 5px;
    color: #444;
    font-size: 2.8em;
    font-weight: bold;
    line-height: 1.5;
    padding: .5em;
    text-align: center;
    background-color: rgba(173, 216, 230, .7);        
}

.absolute{
    /* cuando un elemento tiene position absolute, 
    toma el ancho de su contenido, o el que tenga seteado
    a través de la propiedad width. Es decir, si un elemento
    de bloque tiene position absolute, no abarcará el ancho
    disponible, sino que tomará el de su contenido o el que
    tenga seteado.*/
    position: absolute;
    /* top: 0; */
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
}